@mjml({ keepComments: false, fonts: { Lato:
'https://fonts.googleapis.com/css?family=Lato:400,500,700', "Bricolage Grotesque" :
"https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap",
"DM Sans" :
"https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
} })
  <mjml>
    <mj-head>
      <mj-font
        name="Bricolage Grotesque"
        href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
      />
      <mj-font
        name="DM Sans"
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      />
    </mj-head>
    <mj-preview>
      Confirmez votre email pour accéder à nos publications
    </mj-preview>
    <mj-body background-color="#fff">
      <mj-section padding="0">
        <mj-column>
          <mj-text color="transparent" font-size="1px" line-height="1px" padding="0">
            Onboarding - De vous à moi
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-column>
          <mj-image
            width="300px"
            src="https://ik.imagekit.io/6sukwfzbd/De%20vous%20a%20moi/De%20vous%20a%20moi%20horizontal%20logo%20fullcolor%201_s6BPCcJA_.png"
          />
        </mj-column>
      </mj-section>
      <mj-column width="1px" padding="0">
        <mj-spacer height="60px" />
      </mj-column>

      <mj-section>
        <mj-column width="600px">
          <mj-text color="#2E3237" font-size="18px" font-weight="700" font-family="DM Sans, serif">
            Hello, {{ firstName }} !
          </mj-text>
        </mj-column>
        <mj-column width="600px">
          <mj-text
            color="#2E3237"
            font-size="18px"
            font-weight="400"
            line-height="28px"
            font-family="DM Sans, serif"
          >
            Merci d’avoir initié la création de votre compte.<br />
            <br />
            Pour finaliser cette étape et activer votre compte, veuillez confirmer votre adresse email
          en cliquant sur le lien ci-dessous :
          </mj-text>
        </mj-column>
        <mj-column width="1px" padding="0">
          <mj-spacer height="30px" />
        </mj-column>
        <mj-column width="100%">
          <mj-button
            href="{{ verificationUrl }}"
            background-color="#163300"
            color="#ffffff"
            font-size="16px"
            padding="10px 30px"
            font-family="'DM sans', sans-serif"
            border-radius="50px"
            width="100%"
          >
            Confirmer mon adresse email
          </mj-button>
        </mj-column>
        <mj-column width="600px">
          <mj-text
            color="#2E3237"
            font-size="18px"
            font-weight="400"
            line-height="28px"
            font-family="DM Sans, serif"
          >
            Cette étape est indispensable pour recevoir les publications et contenus éditoriaux du
          blog. <br />            <br />Si vous n’êtes pas à l’origine de cette demande d’inscription, aucune
          action de votre part n’est requise. Vous pouvez ignorer ce message en toute sécurité.<br />            <br />
            Pour des raisons de sécurité, ce lien de confirmation est personnel et expirera
          automatiquement après 10 minute. Une fois la confirmation effectuée, votre inscription
          sera immédiatement validée.<br />
            <br />
            Nous sommes ravis de vous compter prochainement parmi nos lecteurs et espérons que cet
          espace de réflexion et de partage saura vous accompagner au fil des publications.<br />            <br />
            Cordialement, <br />Messara Ezenard
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text
            align="center"
            color="#454A53"
            font-size="18px"
            font-weight="400"
            line-height="28px"
            font-family="DM Sans, serif"
          >
            2026 © De vous à moi | messarae.com
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
@end
